@import "tailwindcss";

:root {
  --background: #ebebeb;
  --foreground: #1f1f1f;
  --color-primary: #0050a0;
  --color-primary-hover: #2f1eb2;
  --color-lightblue: #2900E0;
  --muted: #616161;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
}

.dark {
  --background: #1f1f1f;
  --foreground: #ebebeb;
  --color-primary: #16007A;
  --color-primary-hover: #3a2ecc;
  --muted: #9CA3AF;
}

html, body {
  height: 100%;
  overscroll-behavior-y: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background .25s,color .25s;
}

@keyframes smooth-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

.animate-smooth-bounce {
  animation: smooth-bounce 1.6s ease-in-out infinite;
}
