@import "tailwindcss";

:root {
  --background: #ebebeb;
  --foreground: #1f1f1f;
  --color-primary: #0050a0;
  --color-primary-hover: #2f1eb2;
  --color-lightblue: #2900E0;
  --muted: #616161;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
}

html, body {
  height: 100%;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

@keyframes smooth-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

.animate-smooth-bounce {
  animation: smooth-bounce 1.6s ease-in-out infinite;
}

@media (pointer: coarse) {
  .touch-active-bg:active {
    background-color: var(--foreground);
  }
}

@media (pointer: fine) {
  .navlink-feedback:hover {
    color: #999999;
  }

  .navlink-feedback:active {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

html.dark {
  --background: #1f1f1f;
  --foreground: #ebebeb;
  --color-primary: #16007A;
  --color-primary-hover: #3a2ecc;
  --muted: #9CA3AF;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@supports ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
  .supports-blur {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}